---
layout: result_page
title: Ehdokkaiden äänimäärät
---

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  var jsonSourcePath = discoverJsonUrl("candidates.json");

  function addColumnsFromJson(jsonData, chartData, chartLabelElement) {
    var resultArray = new Array;
    var labelsArray = new Array;

    for (var i=0; i<jsonData["children"].length; i++) {
      var parent = jsonData["children"][i];
      var value = parent["votes"];
      var name  = parent["name"];
      var labelName = parent["name"] + " (" + parent["allianceShorten"] +")"

      resultArray.push([name, value]);
      if (i<10) {
        labelsArray.push([labelName,value]);
      }
      if (i<100) {

      chartData.addColumn('number', name);
      chartData.setValue(0, i+1, value);
      }
    }

    addChartLabels(chartLabelElement, labelsArray);
  }

  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(initChart);

  function initChart() {
    loadResultData(jsonSourcePath, drawChart, displayChartLoadError);
  }

  function drawChart(jsonData) {
    var data = new google.visualization.DataTable();
    var chartLabelElement = $('.seat-listing')[0];

    data.addRows(1);
    data.addColumn('string');
    data.setValue(0,0,'Ääniä');
    addColumnsFromJson(jsonData, data, chartLabelElement);

    var titleCountedAt = "Laskettu: "+ friendlyDateTime(jsonData["created_at"]);

    var options = { title: "TOP-100 äänestetyimmät",
                    width: 960,
                    height: 350,
                    backgroundColor: 'transparent',
                    axisTitlesPosition: 'in',
                    titlePosition: 'in',
                    chartArea: {left: '0',
                                top: '5%',
                                height: 300,
                                width: '100%'},
                    hAxis: {title: titleCountedAt,
                            titleTextStyle: {color: '#222'},
                            showTextEvery: 1,
                            textPosition: 'none'},
                    vAxis: {textPosition: 'in'},
                    legend: {position: 'none'}
                   };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
</script>

<h3>TOP-10 äänestetyimmät</h3>
<ol class="seat-listing">
</ol>

<div style="clear:both;" id="chart"></div>
</div>
