---
layout: result_page
title: "Edustajistopaikat ryhmittäin"
---

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  function addRowsFromJson(jsonData, chartData) {
    var rowArray = new Array;

    for (var i=0; i<jsonData["children"].length;i++) {
      var value = jsonData["children"][i]["seats"];
      var name  = jsonData["children"][i]["name"] + " (" + value + ")";

      rowArray.push([name, value]);
    }

    chartData.addRows(rowArray);
  }


  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(initChart);

  function initChart() {
    loadResultData("result.json", drawChart);
  }

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart(jsonData) {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Topping');
  data.addColumn('number', 'Slices');
  addRowsFromJson(jsonData, data);

  var title = "Laskettu: "+ friendlyDateTime(jsonData["created_at"]);

  var options = {'title':title,
                 titleTextStyle: {fontSize: '14', color: '#222'},
                 tooltip: {showColorCode: false},
                 'is3D':false,
                 'pieSliceText': 'label',
                 'height':800,
                 chartArea: {left: '5%', top: '15%', width: '100%'},
                 'backgroundColor':'transparent'
                 };

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('chart'));
  chart.draw(data, options);
}
</script>

TODO TODO
<ul class="seat-listing horizontal">
    <li>HYAL: 17</li>
    <li>Osak: 12</li>
    <li>MP: 11</li>
    <li>HELP: 8</li>
    <li>Pelast: 5</li>
    <li>Pirate: 3</li>
    <li>SNÄf: 3</li>
    <li>OSY: 1</li>
    <li>Tsempp: 0</li>
    <li>Peruss: 0</li>
    <li>Libera: 0</li>
    <li>ITE1: 0</li>
</ul>

<div style="clear: both;" id="chart"></div>
