---
layout: result_page
title: "Edustajistopaikat ryhmittäin"
---

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  function addRowsFromJson(jsonData, chartData, chartLabelElement) {
    var rowArray   = new Array;
    var labelArray = new Array;

    for (var i=0; i<jsonData["children"].length;i++) {
      var parent = jsonData["children"][i];
      var value  = parent["seats"];
      var name   = parent["name"];
      var nameWithValue   = parent["name"] + " (" + value + ")";

      rowArray.push([nameWithValue, value]);
      labelArray.push([name, value]);
    }

    chartData.addRows(rowArray);
    addChartLabels(chartLabelElement, labelArray);
  }


  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(initChart);

  function initChart() {
    loadResultData("result.json", drawChart, displayChartLoadError);
  }

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart(jsonData) {
    var data = new google.visualization.DataTable();
    var chartLabelElement = $('ul.seat-listing')[0];

    data.addColumn('string', 'Topping');
    data.addColumn('number', 'Slices');
    addRowsFromJson(jsonData, data, chartLabelElement);

    var title = "Laskettu: "+ friendlyDateTime(jsonData["created_at"]);

    var options = {'title':title,
                   titleTextStyle: {fontSize: '14', color: '#222'},
                   tooltip: {showColorCode: false},
                   'is3D':false,
                   'pieSliceText': 'label',
                   'height':700,
                   chartArea: {left: '16',
                               top: '15%',
                               height: 550,
                               width: '100%'},
                   'backgroundColor':'transparent'
                   };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart'));
    chart.draw(data, options);
  }
</script>

<ul class="seat-listing horizontal">
</ul>

<div style="clear: both;" id="chart"></div>
