---
layout: result_page
title: "Edustajistopaikat liitoittain"
---

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  function addColumnsFromJson(jsonData, chartData, chartLabelElement) {
    var chartIndex = 1;
    var resultArray = new Array;

    for (var i=0; i<jsonData["children"].length; i++) {
      for (var j=0; j<jsonData["children"][i]["children"].length; j++) {
        var parent = jsonData["children"][i]["children"][j];
        var value = parent["seats"];
        var name  = parent["name"];

        resultArray.push([name, value]);
        chartData.addColumn('number', name);
        chartData.setValue(0, chartIndex, value);
        chartIndex++;
      }
    }

    addChartLabels(chartLabelElement, resultArray);
  }

  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(initChart);

  function initChart() {
    loadResultData("result.json", drawChart);
  }

  function drawChart(jsonData) {
    var data = new google.visualization.DataTable();
    var chartLabelElement = $('ul.seat-listing')[0];

    data.addRows(1);
    data.addColumn('string');
    data.setValue(0,0,'Paikkoja');
    addColumnsFromJson(jsonData, data, chartLabelElement);

    var titleCountedAt = "Laskettu: "+ friendlyDateTime(jsonData["created_at"]);

    var options = { title: "Liittokohtaiset paikkamäärät",
                    width: 960,
                    height: 350,
                    backgroundColor: 'transparent',
                    axisTitlesPosition: 'in',
                    titlePosition: 'in',
                    chartArea: {left: '0',
                                top: '5%',
                                height: 300,
                                width: '80%'},
                    hAxis: {title: titleCountedAt,
                            titleTextStyle: {color: '#222'},
                            showTextEvery: 1,
                            textPosition: 'in'},
                    vAxis: {textPosition: 'in'}
                   };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart'));

    chart.draw(data, options);
  }
</script>

<ul class="seat-listing horizontal">
</ul>

<div style="clear:both;" id="chart"></div>
</div>
