---
layout: result_page
title: "Edustajistopaikkojen jakautuminen"
---

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  function addRowsFromJson(jsonData, chartData) {
    var rowArray = new Array;

    for (var i=0; i<jsonData["children"].length;i++) {
      var value = jsonData["children"][i]["seats"];
      var name  = jsonData["children"][i]["name"] + " (" + value + ")";

      rowArray.push([name, value]);
    }

    chartData.addRows(rowArray);
  }

  function loadResultData(resultPath, chartCallback) {
    $.ajax({
      url: resultPath,
      dataType: 'json',
      success: function(jsonData) {
        chartCallback(jsonData);
      }
    });
  }

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(initChart);

  function initChart() {
    loadResultData("result.json", drawChart);
  }

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart(jsonData) {

  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Topping');
  data.addColumn('number', 'Slices');
  addRowsFromJson(jsonData, data);

  var title = "Laskettu: "+ friendlyDateTime(jsonData["created_at"]);

  var options = {'title':title,
                 'is3D':false,
                 'pieSliceText': 'label',
                 'width':800,
                 'height':600,
                 'backgroundColor':'transparent'
                 };

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('chart'));
  chart.draw(data, options);
}
</script>

<ul class="seat-listing horizontal">
    <li>HYAL: 17</li>
    <li>Osak: 12</li>
    <li>MP: 11</li>
    <li>HELP: 8</li>
    <li>Pelast: 5</li>
    <li>Pirate: 3</li>
    <li>SNÄf: 3</li>
    <li>OSY: 1</li>
    <li>Tsempp: 0</li>
    <li>Peruss: 0</li>
    <li>Libera: 0</li>
    <li>ITE1: 0</li>
</ul>

<div style="clear: both;" id="chart"></div>
