---
layout: result_page
title: Äänestäjät sukupuolen mukaan
---

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});

  google.setOnLoadCallback(initChart);

  getDataArrayForVoted = function(rawData) {
    var dataArray = [];

    dataArray.push(['Sukupuoli', 'Äänestäneitä']);
    dataArray.push(["Nainen", rawData.children.voted.women])
    dataArray.push(["Mies", rawData.children.voted.men])

    return dataArray;
  };

  getDataArrayForTotal = function(rawData) {
    var dataArray = [];

    dataArray.push(['Sukupuoli', 'Äänioikeutettuja']);
    dataArray.push(["Nainen", rawData.children.total.women])
    dataArray.push(["Mies", rawData.children.total.men])

    return dataArray;
  };

  function initChart() {
    loadResultData("voters_by_gender.json",
      drawCharts,
      displayBetterChartLoadError
    )
  }

  function drawCharts(jsonData) {
    var optionsCommon = {
      titleTextStyle: {fontSize: '14', color: '#222'},
      tooltip: {showColorCode: false},
      'is3D':false,
      'pieSliceText': 'label',
      'height': '500',
      chartArea: {left: '0',
                  top: '15%',
                  height: 400,
                  width: '100%'},
      'backgroundColor':'transparent'
    };

    var optionsVoted = $.extend({}, optionsCommon, {title: "Äänestäneitä"})
    drawChart("chartVoted", getDataArrayForVoted(jsonData), optionsVoted);
    writeChartCaption("#chartVotedCaption", jsonData.children.voted);

    var optionsTotal = $.extend({}, optionsCommon, {title: "Äänioikeutettuja"})
    drawChart("chartTotal", getDataArrayForTotal(jsonData), optionsTotal);
    writeChartCaption("#chartTotalCaption", jsonData.children.total);

  }

  function writeChartCaption(elementId, jsonData) {
    var element = $(elementId);

    element.append("<dt>Nainen</dt><dd>"+ jsonData.women +"</dd>")
    element.append("<dt>Mies</dt><dd>"+ jsonData.men +"</dd>")
    element.append("<dt>Ei tiedossa</dt><dd>"+ jsonData.unknown +"</dd>")
  }

  function drawChart(elementId, jsonData, options) {

    var data = google.visualization.arrayToDataTable(jsonData);

    var chart = new google.visualization.PieChart(document.getElementById(elementId));

    chart.draw(data, options);
  }
</script>

<div id="error"></div>
<div id="chartVoted" class="chart" style="float:left;"></div>
<div id="chartTotal" class="chart" style="float:left;"></div>
<div class="chartDescription" style="width: 400px; clear: both; float: left;">
  <dl id="chartVotedCaption">
  </dl>
</div>
<div class="chartDescription" style="float:left;">
  <dl id="chartTotalCaption">
  </dl>
</div>
