---
layout: result_page
title: Äänestäjät ajanhetken mukaan
---

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages': ['corechart']});
  google.charts.setOnLoadCallback(initChart);

  function initChart() {
    loadResultData(
      discoverJsonUrl('votes_by_hour.json'),
      drawPercentage,
      displayChartLoadError
    );

    loadResultData(
      discoverJsonUrl('votes_by_faculty.json'),
      drawByFacultiesPercentageOnly,
      displayChartLoadError
    );
  }

  function roundedVotingPercentage(votes, total) {
    let percentage = 100.0 * votes / total;

    return Math.round(percentage * 100) / 100;
  }

  function annotation(counter, row, lastAnnotation) {
    if (counter > lastAnnotation.value) {
      let annotation = '>' + lastAnnotation.value;
      lastAnnotation.value += 1000;

      return annotation;
    }

    return null;
  }

  function addRowsFromJson(jsonData, chartData) {
    var rowArray = new Array;
    let lastAnnotation = { value: 1000 };

    for (var i = 0; i < jsonData.children.votes.length; i++) {
      var row = jsonData.children.votes[i];
      rowArray.push([
        row.time,
        row.hourly_count,
        roundedVotingPercentage(row.cumulative_count, jsonData.children.total["voter_count"]),
        annotation(row.cumulative_count, row, lastAnnotation)
      ]);
    }

    chartData.addRows(rowArray);
    document.getElementById("summary-total-created-at").innerText = helsinkiDateTime(jsonData.created_at);
    document.getElementById("summary-total-vote-count").innerText = jsonData.children.total["vote_count"];
    document.getElementById("summary-total-voter-count").innerText = jsonData.children.total["voter_count"];
    document.getElementById("summary-total-voting-percentage").innerText = jsonData.children.total["percentage"];
  }

  function drawPercentage(jsonData) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Tunti');
    data.addColumn('number', 'Ääniä tunnissa');
    data.addColumn('number', 'Äänestysprosentti');
    data.addColumn({ type: 'string', role: 'annotation' });

    addRowsFromJson(jsonData, data);

    var options = {
      title: 'Äänestäneiden lukumäärä per tunti',
      vAxis: { gridlines: { count: 4 } },
      vAxes: {
        0: { logScale: false, title: 'Ääniä tunnissa' },
        1: { logScale: false, title: 'Äänestysprosentti' }
      },
      hAxis: { title: 'Tunti' },
      seriesType: 'line',
      series: {
        0: { targetAxisIndex: 0 },
        1: { type: 'line', targetAxisIndex: 1 }
      },
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart'));
    chart.draw(data, options);
  }

  function displayChartLoadError(e) {
    console.error("Could not load json", e);
  }

  // Periodically updating statistics during the election.
  // Complete stats per faculty are published after the election
  // in "voting_percentage.html"
  function drawByFacultiesPercentageOnly(jsonData) {
    rows = [];
    rows.push(['Tiedekunta', 'Äänestysprosentti']);

    jsonData["children"]["faculties"].map((faculty) => {
      rows.push([faculty.name, Math.round(faculty.percentage)])
    });

    var data = google.visualization.arrayToDataTable(rows);

    var options = {
      title: "Äänestysaktiivisuus tiedekunnittain",
      width: 'auto',
      height: 350,
      series: {
        0: { targetAxisIndex: 0 },
        1: { targetAxisIndex: 0 }
      },
      vAxes: {
        0: { title: 'Äänestysprosentti' }
      }
    };

    var byFaculties = new google.visualization.ColumnChart(document.getElementById('by-faculties-percentage-only'));
    byFaculties.draw(data, options);
  }
</script>

<h2>Äänestysaktiivisuus</h2>

<div id="chart" style="width: 900px; height: 500px;"></div>

<ul>
  <li>Ääniä annettu: <span id="summary-total-vote-count"></span></li>
  <li>Äänestäjiä: <span id="summary-total-voter-count"></span></li>
  <li>Äänestysprosentti: <span id="summary-total-voting-percentage"></span></li>
  <li>Kuvaajaan on merkitty tunnit, joiden aikana äänten määrä on kasvanut 1000:lla.</li>
  <li>Tilasto luotu: <span id="summary-total-created-at"></span></li>
</ul>

<h2>Tilasto tiedekunnittain</h2>

<div id="by-faculties-percentage-only"></div>
