---
layout: result_page
title: Äänestäjät ajanhetken mukaan
---

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages': ['corechart']});
  google.charts.setOnLoadCallback(initChart);

  function initChart() {
    loadResultData(
      discoverJsonUrl('votes_by_hour.json'),
      drawVisualization,
      displayChartLoadError
    );
  }

  function addRowsFromJson(jsonData, chartData) {
    var rowArray = new Array;

    for (var i = 0; i < jsonData.children.votes.length; i++) {
      var row = jsonData.children.votes[i];
      rowArray.push([
        row.time,
        row.hourly_count,
        row.cumulative_count,
      ]);
    }

    chartData.addRows(rowArray);
  }

  function drawVisualization(jsonData) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Tunti');
    data.addColumn('number', 'Ääniä tunnissa');
    data.addColumn('number', 'Ääniä yhteensä');

    addRowsFromJson(jsonData, data);

    var options = {
      title: 'Äänestäneiden lukumäärä per tunti',
      vAxes: {
        0: { logScale: false, title: 'Ääniä tunnissa' },
        1: { logScale: false, title: 'Ääniä yhteensä' },
      },
      hAxis: { title: 'Tunti' },
      seriesType: 'line',

      series: {
        0: { targetAxisIndex: 0 },
        1: { type: 'line', targetAxisIndex: 1 },
      },
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart'));
    chart.draw(data, options);

    var jsonSourcePath = discoverJsonUrl("votes_by_faculty.json")
    loadResultData(jsonSourcePath, drawByFacultiesPercentageOnly, displayChartLoadError);
  }

  function displayChartLoadError(e) {
    console.error("Could not load json", e);
  }

  // Periodically updating statistics during the election.
  // Complete stats per faculty are published after the election
  // in "voting_percentage.html"
  function drawByFacultiesPercentageOnly(jsonData) {
    rows = [];
    rows.push(['Tiedekunta', 'Äänestysprosentti']);

    jsonData["children"]["faculties"].map((faculty) => {
      rows.push([faculty.name, faculty.percentage])
    });

    var data = google.visualization.arrayToDataTable(rows);

    var options = {
      title: "Äänestysaktiivisuus tiedekunnittain 2018",
      width: 'auto',
      height: 350,
      series: {
        0: { targetAxisIndex: 0 },
        1: { targetAxisIndex: 0 }
      },
      vAxes: {
        0: { title: 'Ääniä' },
        1: { title: 'Äänestysprosentti' }
      }
    };

    var byFaculties = new google.visualization.ColumnChart(document.getElementById('by-faculties-percentage-only'));
    byFaculties.draw(data, options);
  }
</script>

<h2>Äänestysaktiivisuus</h2>

<div id="chart" style="width: 900px; height: 500px;"></div>

<h2>Tilasto tiedekunnittain</h2>

<div id="by-faculties-percentage-only"></div>

<p>
  Tiedekuntakohtainen äänestysprosentti pyöristetään vaalien aikana ylöspäin lähimpään kokonaislukuun.
  Tarkempi äänestysprosentti julkistetaan vasta äänestyksen päätyttyä.
</p>
